.App {
  text-align: center;
}

button{
  background: none!important;
  border:none;
  padding: 2!important;
  font-family: arial, sans-serif;
  color:#069;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 0.4em;
  padding-left: 0.4em;
  font-size: 40px;
}
